/* Color variables */
:root{
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --light-color:#fff;
    --dark-color:#004F2D;
}

/* Resetting default settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main styling */
body{
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#pomodoro-app{
    position: relative;
    padding: 24px;
    border-radius: 12px;
    background-color: var(--light-color);
    box-shadow: var(--shadow);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

/* Hidden message container that appears after completion of entire lifecycle of pomodoro */
.achievement-container{
    display: none;
    background-color: var(--dark-color);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievement-container .achievement-msg{
    text-align: center;
    color: var(--light-color);
}

/* Hidden message container that appears when tab's focus is changed  */
.focus-msg-container{
    display: none;
    position: absolute;
    width: 230px;
    padding: 16px;
    border-radius: 5px;
    background-color: #333;
    color:var(--light-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: var(--shadow);
}

.focus-msg-container span{
    display: block;
}

.focus-msg-container .focus-msg{
    font-size: 12px;
}

.focus-msg-container .close-icon{
    margin: auto;
    font-size: 12px;
    margin-top: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 2px solid var(--light-color);
    border-radius: 50%;
    text-align: center;
}

.progress-container{
    display: flex;
    gap: 8px;
}

.progress-container .progress{
    background-color: var(--light-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: var(--shadow);
}

.time-container{
    font-size: 2rem;
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: conic-gradient(#C33C54 0deg,#ededed 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.time-container::before{
    content: "";
    position: absolute;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background-color: var(--light-color);
}

.time-container span{
    position: relative;
}

.reset-btn-container .reset-btn,
.reset-cycle-btn{
    border: none;
    background-color: #C33C54;
    color: var(--light-color);
    padding: 8px 26px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    box-shadow: var(--shadow);
}